
*.sdf
*.suo
*.user
*.aps
*.exe
*.idb
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.ilk

*.pch
*.pdb
*.res
*.tlog
*.filters

*.sai2
*.odt

Backup/

**/bin/intermediates/**
ipch/
assets_hidden/
.git/
.vs/

!dependencies/**
!engine/Renderer/assets/**

!sandbox/DemoProject/bin/Win32/Debug/engine_config.json
