
*.sdf
*.suo
*.user
*.aps
*.exe
*.idb
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest

*.pch
*.pdb
*.res
*.tlog
*.filters

*.sai2
*.odt

Backup/
bin/
ipch/
assets_hidden/
.git/
.vs/

!dependencies/**
!engine/Renderer/assets/**