
*.sdf
*.suo
*.user
*.aps
*.exe
*.idb
*.ipch
*.lastbuildstate
*.lib
*.log
*.manifest
*.obj
*.pch
*.pdb
*.res
*.tlog

*.sai2
*.odt

Backup/
bin/
ipch/
.git/
.vs/

!dependencies/**
!engine/Renderer/assets/**